= form_for(@expense_category) do |f|
  - if @expense_category.errors.any?
    #error_explanation
      %h2= t('message.error.invalid_input')
      %ul
        - @expense_category.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name, size: 40
  .field
    = f.label :color
    %br/
    = f.text_field :color, size: 40
  .actions
    = f.submit
