<h1><%= t('view.expense_category.index') %></h1>

<table>
  <thead>
    <tr>
      <th><%= ExpenseCategory.human_attribute_name :name %></th>
      <th><%= ExpenseCategory.human_attribute_name :color %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expense_categories.each do |expense_category| %>
      <tr>
        <td><%= expense_category.name %></td>
        <td><%= expense_category.color %></td>
        <td><%= link_to t('label.show'), expense_category %></td>
        <td><%= link_to t('label.edit'), edit_expense_category_path(expense_category) %></td>
        <td><%= link_to t('label.destroy'), expense_category, method: :delete, data: { confirm: t('message.confirm.destroy') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('label.new'), new_expense_category_path %>
