<h1><%= t('view.expense_category.show') %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= ExpenseCategory.human_attribute_name :name %>:</strong>
  <%= @expense_category.name %>
</p>

<p>
  <strong><%= ExpenseCategory.human_attribute_name :color %>:</strong>
  <%= @expense_category.color %>
</p>

<%= link_to t('label.edit'), edit_expense_category_path(@expense_category) %> |
<%= link_to t('label.back'), expense_categories_path %>
