<h1><%= t('view.expense.index') %></h1>

<table>
  <thead>
    <tr>
      <th><%= Expense.human_attribute_name :amount %></th>
      <th><%= ExpenseCategory.human_attribute_name :name %></th>
      <th><%= Expense.human_attribute_name :memo %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.amount %></td>
        <td><%= expense.expense_category.name %></td>
        <td><%= expense.memo %></td>
        <td><%= link_to t('label.show'), expense %></td>
        <td><%= link_to t('label.edit'), edit_expense_path(expense) %></td>
        <td><%= link_to t('label.destroy'), expense, method: :delete, data: { confirm: t('message.confirm.destroy') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('label.new'), new_expense_path %>
